body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Initially hidden, can be shown using JavaScript */
    flex-direction: column;
    max-height: 640px; /* Adjusted for more total space, including header and input area */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 360px;
    background: #fff;
    z-index: 1050; /* Ensure it's above most other elements */
}

#chat-header {
    padding: 15px;
    background: #00BFA5;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#chat-messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    background: #ECE5DD;
    max-height: 500px; /* Adjusted for more conversation space */
    scroll-behavior: smooth;
}


.message {
    margin: 8px 0;
    padding: 10px;
    border-radius: 20px;
    max-width: 75%;
    word-wrap: break-word;
}

.received {
    background: #ffffff;
    align-self: flex-start;
}

.sent {
    background: #DCF8C6;
    align-self: flex-end;
}

#chat-input-container {
    display: flex;
    padding: 10px;
    background: #f2f2f2;
}

#chat-input {
    flex-grow: 1;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 30px;
    margin-right: 10px;
    outline: none;
}

#chat-input:focus {
    border-color: #00BFA5;
}

#send-btn {
    padding: 10px 15px;
    background: #00BFA5;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #00796b;
}

#chat-icon {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    color: #00ffdd;
    cursor: pointer;
    z-index: 1050; /* Same as chat container to ensure consistency */
}

#close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#close-btn:hover {
    opacity: 0.8;
}
